body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

button {
	margin-top: 5px;
}

.task {
	cursor: pointer;
	padding: 1ex;
	margin-bottom: 3px;
	background-color: #ddd;
}
.yep {
	background-color: gold;
}